<h2 class="text-xl mt-5 ml-5 text-gocolor">Are you sure you want to delete your account?</h2>
<mat-dialog-content>Deleting your account will prevent you from ordering food, accessing GoMarket market place, and many more, please think this throughly.</mat-dialog-content>
<mat-dialog-actions>
  <button class="p-2 px-4 hover:bg-red-700/20 duration-150 rounded-2xl text-red-700 active:bg-red-700/20" (click)="deleteAccount()" mat-dialog-close>Delete Account</button>
  <button class="p-2 px-4 hover:bg-gray-300/20 duration-150 rounded-2xl text-gray-300" mat-dialog-close>Close</button>
</mat-dialog-actions>