<div class="container mx-auto p-4">
    <h2 class="text-2xl md:text-3xl mt-5 ml-5 text-gocolor font-semibold">Mediterranean Couscous</h2>
    
    <div class="flex flex-col items-center justify-center mt-4">
      <!-- Image with responsive design -->
      <img [src]="src" alt="Tunisian Couscous Dish" class="w-full md:w-1/2 h-auto object-cover rounded-lg shadow-lg">
      
      <!-- Brief description of Couscous -->
      <p class="text-sm md:text-base text-gray-200 mt-4 text-center px-2 md:px-8 font-montserrat">
        Couscous is a staple dish in Mediterranean cuisine, made from steamed semolina wheat granules. Traditionally served with a variety of vegetables, meats, or seafood, it is often accompanied by a flavorful broth or sauce. This versatile dish is loved for its light texture and ability to absorb flavors, making it a beloved centerpiece for family meals and gatherings.
      </p>
    </div>
  
    <mat-dialog-actions class="flex justify-center mt-4">
      <button class="p-2 px-4 hover:bg-gray-300/20 duration-150 rounded-2xl text-gray-300 border border-gray-300" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
  