<div class="container mx-auto p-4">
    <h2 class="text-2xl md:text-3xl mt-5 ml-5 text-gocolor font-semibold">Kafteji</h2>
    
    <div class="flex flex-col items-center justify-center mt-4">
      <!-- Image with responsive design -->
      <img [src]="src" alt="Tunisian Kafteji Dish" class="w-full md:w-1/2 h-auto object-cover rounded-lg shadow-lg">
      
      <!-- Brief description of Kafteji -->
      <p class="text-sm md:text-base text-gray-200 mt-4 text-center px-2 md:px-8 font-montserrat">
        Kafteji is a beloved Tunisian dish made by frying a mix of vegetables such as zucchini, peppers, tomatoes, and potatoes. Often served with fried eggs or liver, this dish is seasoned with local spices and is typically enjoyed with bread. Known for its vibrant colors and rich flavors, Kafteji is a comforting street food staple in Tunisia.
      </p>
    </div>
  
    <mat-dialog-actions class="flex justify-center mt-4">
      <button class="p-2 px-4 hover:bg-gray-300/20 duration-150 rounded-2xl text-gray-300 border border-gray-300" mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>
  