<h2 class="text-xl mt-5 ml-5 text-gocolor">Are you sure you want to logout?</h2>
<mat-dialog-content>Are you sure you want to log out? Logging out will end your current session, and you'll need to log in again to access your account.</mat-dialog-content>
<mat-dialog-actions>
  <button class="p-2 px-4 hover:bg-red-700/20 duration-150 rounded-2xl text-red-700 active:bg-red-700/20" (click)="logout()" mat-dialog-close>Log out</button>
  <button class="p-2 px-4 hover:bg-gray-300/20 duration-150 rounded-2xl text-gray-300" mat-dialog-close>Close</button>
</mat-dialog-actions>