<div class="w-screen h-screen flex justify-center items-center bg-slate-300 p-4">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail(emailForm.value)" class="flex flex-col justify-center items-stretch w-full max-w-sm">

      <!-- Email Field -->
      <label for="email" class="leading-6 text-sm font-medium text-gray-500 mb-1">Email:</label>
      <div class="relative">
        <input formControlName="email" id="email" type="email" placeholder="Enter email"
        [ngClass]="{
          'ring-2 ring-green-600': message === 'Password reset link sent to your email.',
          'ring-2 ring-red-600': emailForm.get('email')?.invalid && emailForm.get('email')?.touched
        }"
        class="m-2 -translate-x-3 w-full rounded-md border-0 py-2 px-3 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-darker sm:text-sm sm:leading-6">
      </div>
      <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-red-600 text-sm mb-2">
          Invalid Email Address.
      </div>

      <!-- Submit Button -->
      <button
      [ngClass]="{'bg-emerald-400 hover:bg-emerald-400/50 active:bg-emerald-400/50': message, 'bg-orange-900 hover:bg-orange-800 active:bg-orange-700': !message}"
       class="w-full -translate-x-3 text-white hover:text-gray-100
       transition-transform duration-300 transform hover:scale-105 p-3 m-2 font-bold rounded-md flex justify-center items-center">
        <svg *ngIf="!message" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="yellow" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/>
        </svg>
        <h1 *ngIf="message" class="font-medium text-green-600">{{message}}</h1>
      </button>
      
  </form>
</div>
